In [1]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

In [3]:
tipos_de_dados = pd.DataFrame(dados.dtypes, 
    columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Vari치veis'
tipos_de_dados

Vari치veis Tipos de Dados
Aluno             object
Idade              int64
Nota             float64
Aprovado            bool

TypeError: read_csv() got an unexpected keyword argument 'columns'